node-red/sw103-client-red.txt
[{"id":"b5b3d741.809d98","type":"tab","label":"Watering Sonoff 1.3","disabled":false,"info":""},{"id":"7f5c7fca.521d3","type":"mqtt in","z":"b5b3d741.809d98","name":"config msg","topic":"/msillanohome/hidro/1/status/config","qos":"0","broker":"265c223f.71cfee","x":80,"y":100,"wires":[["8d49b472.23a098","4f726cbf.cd9b64"]]},{"id":"bb1893d4.b1973","type":"mqtt out","z":"b5b3d741.809d98","name":"","topic":"/msillanohome/hidro/1/command","qos":"","retain":"","broker":"265c223f.71cfee","x":450,"y":820,"wires":[]},{"id":"3776a665.5a245a","type":"inject","z":"b5b3d741.809d98","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":740,"wires":[["bb1893d4.b1973"]]},{"id":"3b737883.400f88","type":"inject","z":"b5b3d741.809d98","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":780,"wires":[["bb1893d4.b1973"]]},{"id":"3a21c854.eb6928","type":"inject","z":"b5b3d741.809d98","name":"","topic":"","payload":"toggle","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":820,"wires":[["bb1893d4.b1973"]]},{"id":"5572b2be.79f2dc","type":"inject","z":"b5b3d741.809d98","name":"","topic":"","payload":"cycle","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":880,"wires":[["bb1893d4.b1973"]]},{"id":"18b36bc5.218704","type":"mqtt out","z":"b5b3d741.809d98","name":"","topic":"/msillanohome/hidro/1/set","qos":"","retain":"","broker":"265c223f.71cfee","x":1090,"y":780,"wires":[]},{"id":"480bc320.276b3c","type":"inject","z":"b5b3d741.809d98","name":"howlong","topic":"","payload":"{\"data\":\"long\",\"value\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":720,"wires":[["18b36bc5.218704"]]},{"id":"12cd8604.e17daa","type":"inject","z":"b5b3d741.809d98","name":"when T1","topic":"","payload":"{\"data\":\"when1\",\"value\":\"18:50\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":800,"wires":[["18b36bc5.218704"]]},{"id":"e0129c3f.8c36f","type":"inject","z":"b5b3d741.809d98","name":"when T2","topic":"","payload":"{\"data\":\"when2\",\"value\":\"19:50\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":840,"wires":[["18b36bc5.218704"]]},{"id":"a08ac6a.f4cba38","type":"inject","z":"b5b3d741.809d98","name":"howmany","topic":"","payload":"{\"data\":\"mode\",\"value\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":760,"wires":[["18b36bc5.218704"]]},{"id":"592a72af.3c20ec","type":"inject","z":"b5b3d741.809d98","name":"reset","topic":"","payload":"{\"data\":\"reset\",\"value\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":1040,"wires":[["18b36bc5.218704"]]},{"id":"8d49b472.23a098","type":"json","z":"b5b3d741.809d98","name":"analyze","property":"payload","action":"obj","pretty":false,"x":240,"y":100,"wires":[["c5ff0657.0f1218"]]},{"id":"c5ff0657.0f1218","type":"split","z":"b5b3d741.809d98","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":390,"y":100,"wires":[["3ead76b3.e846aa"]]},{"id":"3ead76b3.e846aa","type":"switch","z":"b5b3d741.809d98","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"mode","vt":"str"},{"t":"eq","v":"tx","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":100,"wires":[["ae488f2f.d2834"],["d07439f6.946898"],["65ae45a4.46249c"]]},{"id":"ae488f2f.d2834","type":"ui_numeric","z":"b5b3d741.809d98","name":"howlong","label":"how long [min]","group":"a429b6bb.584f48","order":0,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"180","step":1,"x":780,"y":100,"wires":[["9040630f.2981b"]]},{"id":"4f726cbf.cd9b64","type":"debug","z":"b5b3d741.809d98","name":"echo debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":230,"y":180,"wires":[]},{"id":"512f41d7.4aa44","type":"mqtt out","z":"b5b3d741.809d98","name":"","topic":"/msillanohome/hidro/1/set","qos":"","retain":"","broker":"265c223f.71cfee","x":1330,"y":100,"wires":[]},{"id":"9040630f.2981b","type":"function","z":"b5b3d741.809d98","name":"do json","func":"msg.payload = \"{\\\"data\\\":\\\"long\\\",\\\"value\\\":\"+msg.payload+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":100,"wires":[["512f41d7.4aa44"]]},{"id":"d07439f6.946898","type":"ui_dropdown","z":"b5b3d741.809d98","name":"Repeat","label":"","place":"Select option","group":"a429b6bb.584f48","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"watering none","value":"0","type":"str"},{"label":"cycle @T1 every 48 h","value":"1","type":"str"},{"label":"cycle @T1 every 24 h","value":"2","type":"str"},{"label":"cycle @T1 & @T2  every 24 h","value":"3","type":"str"},{"label":"start @T1, end @T2  every 24 h","value":"4","type":"str"}],"payload":"","topic":"","x":780,"y":140,"wires":[["5ec1444e.a8c32c"]]},{"id":"5ec1444e.a8c32c","type":"function","z":"b5b3d741.809d98","name":"do json","func":"msg.payload = \"{\\\"data\\\":\\\"mode\\\",\\\"value\\\":\"+msg.payload+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":140,"wires":[["512f41d7.4aa44"]]},{"id":"65ae45a4.46249c","type":"function","z":"b5b3d741.809d98","name":"split array","func":"var msg1 = { payload: msg.payload[0] };\nvar msg2 = { payload: msg.payload[1] };\nreturn [ msg1, msg2];","outputs":2,"noerr":0,"x":520,"y":220,"wires":[["55862482.c4d01c"],["e8b3f6a3.7f3978"]]},{"id":"55862482.c4d01c","type":"ui_text_input","z":"b5b3d741.809d98","name":"","label":"watering time 1","group":"a429b6bb.584f48","order":0,"width":0,"height":0,"passthru":false,"mode":"time","delay":"0","topic":"","x":720,"y":200,"wires":[["3c34f68a.5be30a"]]},{"id":"e8b3f6a3.7f3978","type":"ui_text_input","z":"b5b3d741.809d98","name":"","label":"watering time 2","group":"a429b6bb.584f48","order":0,"width":0,"height":0,"passthru":false,"mode":"time","delay":"1000","topic":"","x":720,"y":240,"wires":[["6a0677d1.412288"]]},{"id":"bbc52eca.217a","type":"function","z":"b5b3d741.809d98","name":"do json","func":"msg.payload = \"{\\\"data\\\":\\\"when1\\\",\\\"value\\\":\\\"\"+msg.payload+\"\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":200,"wires":[["512f41d7.4aa44"]]},{"id":"1fc4b941.c67067","type":"function","z":"b5b3d741.809d98","name":"do json","func":"msg.payload = \"{\\\"data\\\":\\\"when2\\\",\\\"value\\\":\\\"\"+msg.payload+\"\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":240,"wires":[["512f41d7.4aa44"]]},{"id":"3c34f68a.5be30a","type":"function","z":"b5b3d741.809d98","name":"ms to string","func":"var d = new Date( msg.payload);\nmsg.payload = d.toTimeString().substring(0, 5);\nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":200,"wires":[["bbc52eca.217a"]]},{"id":"6a0677d1.412288","type":"function","z":"b5b3d741.809d98","name":"ms to string","func":"var d = new Date( msg.payload);\nmsg.payload = d.toTimeString().substring(0, 5);\nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":240,"wires":[["1fc4b941.c67067"]]},{"id":"d8851f81.dc169","type":"mqtt in","z":"b5b3d741.809d98","name":"watering msg","topic":"/msillanohome/hidro/1/status/watering","qos":"0","broker":"265c223f.71cfee","x":90,"y":340,"wires":[["ee228987.778158","96e67654.1f8818"]]},{"id":"ee228987.778158","type":"json","z":"b5b3d741.809d98","name":"analyze_W","property":"payload","action":"","pretty":false,"x":290,"y":340,"wires":[["b78916e8.2041d8","cbe19add.19f2d8"]]},{"id":"75dda45f.11111c","type":"ui_button","z":"b5b3d741.809d98","name":"","group":"9f73f160.67562","order":0,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","color":"","bgcolor":"{{msg.background}}","icon":"fa-tint","payload":"","payloadType":"str","topic":"","x":770,"y":340,"wires":[[]]},{"id":"b78916e8.2041d8","type":"function","z":"b5b3d741.809d98","name":"control","func":"if (msg.payload.watering == 1){\n    msg.background = \"TURQUOISE\";\n    msg.label = \"WATERING ON\";\n}\nif (msg.payload.watering === 0){\n  msg.background = \"green\";\n      msg.label = \"WATERING OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["75dda45f.11111c"]]},{"id":"f3bc8cf5.48d7","type":"json","z":"b5b3d741.809d98","name":"analyze_M","property":"payload","action":"","pretty":false,"x":290,"y":500,"wires":[["eb4606a0.cfc898","f04d8eb8.13f8"]]},{"id":"eb4606a0.cfc898","type":"function","z":"b5b3d741.809d98","name":"control","func":"if (msg.payload.moisure === 0){\n    msg.background = \"LIGHTGREEN\";\n    msg.label = \"SOAKED SOIL\";\n}\nif (msg.payload.moisure == 1){\n  msg.background = \"SANDYBROWN\";\n      msg.label = \"DRY SOIL\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":500,"wires":[["30e96499.7dd56c"]]},{"id":"30e96499.7dd56c","type":"ui_button","z":"b5b3d741.809d98","name":"","group":"9f73f160.67562","order":0,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","color":"","bgcolor":"{{msg.background}}","icon":"local_florist","payload":"","payloadType":"str","topic":"","x":770,"y":500,"wires":[[]]},{"id":"7d706f08.30121","type":"mqtt in","z":"b5b3d741.809d98","name":"moisure msg","topic":"/msillanohome/hidro/1/status/moisure","qos":"0","broker":"265c223f.71cfee","x":90,"y":500,"wires":[["f3bc8cf5.48d7","96e67654.1f8818"]]},{"id":"fa688555.577dd8","type":"ui_button","z":"b5b3d741.809d98","name":"","group":"9f73f160.67562","order":0,"width":"3","height":"1","passthru":false,"label":"ON","color":"","bgcolor":"DEEPSKYBLUE","icon":"","payload":"on","payloadType":"str","topic":"","x":990,"y":340,"wires":[["2886b0e6.9bc51"]]},{"id":"2886b0e6.9bc51","type":"mqtt out","z":"b5b3d741.809d98","name":"","topic":"/msillanohome/hidro/1/command","qos":"0","retain":"","broker":"265c223f.71cfee","x":1310,"y":360,"wires":[]},{"id":"38e92847.912fe8","type":"ui_button","z":"b5b3d741.809d98","name":"","group":"9f73f160.67562","order":0,"width":"3","height":"1","passthru":false,"label":"OFF","color":"","bgcolor":"green","icon":"","payload":"off","payloadType":"str","topic":"","x":990,"y":380,"wires":[["2886b0e6.9bc51"]]},{"id":"aca08746.cf8418","type":"ui_button","z":"b5b3d741.809d98","name":"","group":"9f73f160.67562","order":0,"width":0,"height":0,"passthru":false,"label":"CYCLE","color":"","bgcolor":"SKYBLUE","icon":"","payload":"auto","payloadType":"str","topic":"","x":1000,"y":420,"wires":[["2886b0e6.9bc51"]]},{"id":"cbe19add.19f2d8","type":"function","z":"b5b3d741.809d98","name":"format_W","func":"msg.topic = \"watering\";\nmsg.payload = msg.payload.watering;\nreturn [msg];","outputs":1,"noerr":0,"x":420,"y":400,"wires":[["7e726682.e40508"]]},{"id":"f04d8eb8.13f8","type":"function","z":"b5b3d741.809d98","name":"format_M","func":"msg.topic = \"dry soil\";\nmsg.payload = (msg.payload.moisure/2);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["7e726682.e40508"]]},{"id":"96e67654.1f8818","type":"debug","z":"b5b3d741.809d98","name":"echo debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":230,"y":420,"wires":[]},{"id":"b050ab7c.6948f8","type":"comment","z":"b5b3d741.809d98","name":"DASHBOARD","info":"DASHBOARD interface\n1 - config tab\n    show/set timing config values\n    \n2 - watering tab\n    show/set watering/moisure status\n    (some buttons used only as display)\n    \n3 - history tab\n    show watering/moisure history\n    Auto-resend status for fast refresh\n    CLEAR history","x":70,"y":40,"wires":[]},{"id":"dfa7318a.dd648","type":"comment","z":"b5b3d741.809d98","name":"TEST send  command","info":"Watering commands:\n\n   unconditioned: ON, OFF, TOGGLE\n     conditioned: CYCLE\n     REFRESH\n     \nConfig commands\n  note: to set values edit inject commands.\n  \n  howlong\n  howmany\n  when 1\n  when 2\n  \n  DST winter timezone\n  DST summer timezone\n  refresh status infos\n  reset","x":100,"y":640,"wires":[]},{"id":"7e726682.e40508","type":"ui_chart","z":"b5b3d741.809d98","name":"","group":"ec91ad2.fbcdd5","order":0,"width":"12","height":"5","label":"history","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"step","nodata":"no data","dot":false,"ymin":"0","ymax":"1","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#82c0ea","#e6b88a","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":750,"y":420,"wires":[[],[]]},{"id":"d6848bc4.382df8","type":"inject","z":"b5b3d741.809d98","name":"auto re-send status","topic":"","payload":"send","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":"0.7","x":1040,"y":480,"wires":[["2886b0e6.9bc51"]],"icon":"node-red-node-rbe/rbe.png"},{"id":"afba0958.2a0ba8","type":"inject","z":"b5b3d741.809d98","name":"","topic":"","payload":"clear","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":560,"wires":[["86804fee.0b3d"]]},{"id":"86804fee.0b3d","type":"function","z":"b5b3d741.809d98","name":"format_0","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":460,"wires":[["7e726682.e40508"]]},{"id":"b9ea0ece.d20a4","type":"inject","z":"b5b3d741.809d98","name":"winter Timezone","topic":"","payload":"{\"data\":\"timezone\",\"value\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":900,"wires":[["18b36bc5.218704"]]},{"id":"4ab85d5e.c745a4","type":"inject","z":"b5b3d741.809d98","name":"summer Timezone ","topic":"","payload":"{\"data\":\"timezone\",\"value\":\"2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":940,"wires":[["18b36bc5.218704"]]},{"id":"1e01094e.da2f77","type":"inject","z":"b5b3d741.809d98","name":"startup refresh status","topic":"","payload":"{\"data\":\"send\",\"value\":0}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"1","x":980,"y":60,"wires":[["512f41d7.4aa44"]],"icon":"node-red-node-rbe/rbe.png"},{"id":"6491a474.877eac","type":"inject","z":"b5b3d741.809d98","name":"refresh","topic":"","payload":"send","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":940,"wires":[["bb1893d4.b1973"]]},{"id":"ed151c5d.020e4","type":"inject","z":"b5b3d741.809d98","name":"send","topic":"","payload":"{\"data\":\"send\",\"value\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":1000,"wires":[["18b36bc5.218704"]]},{"id":"265c223f.71cfee","type":"mqtt-broker","z":"","name":"Sonoff-broker","broker":"192.168.0.53","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a429b6bb.584f48","type":"ui_group","z":"","name":"Config cycle","tab":"9f0f9a77.df2f58","disp":true,"width":"6"},{"id":"9f73f160.67562","type":"ui_group","z":"","name":"Watering","tab":"9f0f9a77.df2f58","disp":true,"width":"6"},{"id":"ec91ad2.fbcdd5","type":"ui_group","z":"","name":"History","tab":"9f0f9a77.df2f58","disp":false,"width":"12"},{"id":"9f0f9a77.df2f58","type":"ui_tab","z":"","name":"Watering Sonoff","icon":"dashboard"}]